<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>FRUIT FILTER</title>
	<style type="text/css">
		html,body,* { margin: 0; padding: 0; text-align: center; font-size: 13px;}
		h1 { margin-top: 30px; }
		label { display: block; height: 30px;	margin-top: 30px;}	
		input { display:block; width: 200px; height: 30px; margin: 0 auto; border-radius: 3px; border: 1px solid #888888}
		ul { list-style: none; border: 1px solid #888888;	border-radius: 3px;	width: 200px;	margin: 30px auto;	}
		li { border-bottom: 1px solid #888888; line-height: 25px;	}
		li:last-child {	border-bottom: none;}
	</style>
</head>
<body>
	<div class="wrapper">
		<label for="">총 개수 : {{ fruitCount }}</label>
		<input type="text" name="filter" v-model="searchFruit" @input="typing">
		<ul>
			<li v-for="fruit in fruitsList">{{ fruit }}</li>
		</ul>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
<script type="text/javascript">

const fruits = ['사과','감','단감','곶감','귤','오랜지','배','복숭아','살구','자두','포도','건포도','청포도',
'모과','석류','바나나','무화과','람부탄','두리안','망고','체리','앵두','파인애플','키위','골드키위',
'리치','율무','레몬','자두','밤','모과','오디','버찌','라임','딸기','수박','토마토',
'멜론','참외','코코넛','파파야','탑팀','치코','블리빙','탱자','매실',];

const vue = new Vue({
	el: ".wrapper",
	data: {
		fruits: fruits,
		searchFruit: ''
	},
	computed: {
		fruitCount() {
			return this.fruitsList.length
		},

		fruitsList() {
			let filteredList = this.fruits

			if(this.searchFruit == '') return this.fruits
			
			return filteredList.filter(fruit => {
				return fruit.includes(this.searchFruit)
			})
		}
	},
	methods: {
		typing(e) {
			this.searchFruit = e.target.value
		}
	}
});

</script>


</html>
